*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header--container{
    width: 100%;
    height: 65px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 190vh;
    background-color: rgba(0, 183, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
 
.header-lnks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5vh 1.5vh;
}

.caja--logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.img-logo{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
     align-self: flex-start;
}

 

.header--usu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}

.user-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    width: 40px;
    height: 50px;
}

.container-todo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.div-espacio{
    display: flex;
    width: 20vh;
}

.nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    width: 10vh;
    height: 20vh;
}

.nav-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    padding: 5vh 3vh;
    border: .4vh solid rgba(192, 156, 255, 0.5);
    border-radius: .5vh;
    gap: 2vh;
}

.nav--menu{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    gap: 10vh;
}

#nav-lnks{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

#nav-a{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    font-size: 2.5vh;
    color: black;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(180deg, 
    rgba(0, 183, 255, 0.5),
    rgba(192, 156, 255, 0.5)
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

#nav-a:hover{
    background-color: rgba(192, 156, 255, 0.5);
}

.nav-hover{
    display: flex;
    justify-content: center;
    padding: 1vh 5vh;
    width: 35vh;
    border-radius: .5vh;
}

.nav-hover:hover{
    transition: .2s all ease;
    background: rgba(192, 156, 255, 0.5);
    color: black;
}

.nav-nav{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
}


main{
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.main-config{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 60vh;
    height: 60vh;
    background-color: rgba(192, 156, 255, 0.5);
    border-radius: 5px;
    padding: 20px;
}

.main-name{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    flex-direction: column;
}

.name-chg{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    gap: 5vh;
    margin: 5vh;
}

.main-tittle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    font-size: 3.5vh;
}

.txt-name{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    border-radius: .5vh;
    padding: .5vh;
}

.sbmt-div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.btn-name{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: .2vh solid black;
    border-radius: .3vh;
    font-size: 2vh;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: black;
    outline: none;
    transition: .2s all ease;
    padding: 1vh 1vh;
}

.main-idioma{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin: 6vh;
}

.form-idioma{
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
}

.idioma-chg{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    gap: 4.5vh;
    margin: 1vh;
}

label{
    display: flex;
    font-size: 2.5vh;
}

select{
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 2.25vh;
}

select:focus{ 
    outline: none;
}

.idioma-sbmt{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.btn-idiomas{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: .2vh solid black;
    border-radius: .3vh;
    font-size: 2vh;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: black;
    outline: none;
    transition: .2s all ease;
    padding: 1vh 1vh; 
    margin: 1vh;
}


.footer-main{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 5px;
    height: 2vh;
    width: 20%;
    gap: 4vh;
}

.footer_hr{
    position: absolute;
    align-self: flex-start;
    color: #fff;
    width: 100vh;
}

.footer-lnks1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    margin-top: 10px;
}

.footer--info{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: flex-start;
    flex-direction: column;
    margin-top: 5px;
}

.footer_h5{
    display: flex;
    font-size: 15px;
    color: #fff;
}

.footer_p{
    display: flex;
    text-align: justify;
    font-size: 10px;
    color: #fff;
}

.footer-lnks2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
}

.logo-ig{
    width: 40px;
    height: 40px;
}

.ort-img{
    width: 100px;
    height: 60px;
}


