*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../imgs/bki2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    height: 100%;
}

.contenedor__todo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100vh;
    height: 80vh;
}

.caja__trasera{
    width: 100%;
    height: 65vh;
    padding: 1vh 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(201, 170, 255, 0.5);
    border-radius: 1.5vh;
}

.caja__trasera div{
    display: flex;
    color: white;
    transition: all ease 500ms;
}

.caja__trasera-login{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    gap: 4vh;
}

.caja__trasera-register{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    gap: 5vh;
}

.caja__trasera-h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-h3{
    display: flex;
    font-weight: 400;
    font-size: 2.5vh;
    text-align: center;
}

.caja__trasera-p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-p{
    display: flex;
    font-size: 2vh;
    font-weight: 300;
    text-align: -webkit-center;
}

.caja__trasera-button{
    display: flex;
    justify-content: center;
    align-content: center;
}



.main-btn{
    padding: 1vh 4vh;
    border: .2vh solid #fff;
    font-size: 2vh;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all ease 300ms;
}

.main-btn:hover{
    background: #fff;
    color: #D3CBFF;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 38vh;
    position: relative;
    top: -5px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 4.5vh 2vh;
    background: white;
    position: absolute;
    border-radius: 2vh;
}

.contenedor__login-register form h2{
    font-size: 3vh;
    text-align: center;
    margin-bottom: 20px;
    color: #D3CBFF;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 1vh;
    border: none;
    background: #F2F2F2;
    font-size: 1.6vh;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #D3CBFF;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}


